body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
   /* background-color: black; */
  color: white;
  opacity: 0.8;
}

.container {
  box-sizing: border-box;
  border: 2px solid wheat;
  margin: 0.5rem auto;
  width: 500px;
  height: 500px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  /* background-color: orange; */
  
  background-color: #ffff ;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
 
  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color:#ffff ;
}

.dropDown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}